.bac{
  background-color: black;
  
  width: 98vw;
  @apply pt-4;
  @apply px-4;
  
  
  
}
  
  @media (min-width: 768px) {
    .bac {
      background-image: url('../images/largeimage.jpg');
      background-size: cover;
     @apply object-cover;
      background-color: transparent;
      width: 100%;
    height: 100vh;
    margin-bottom: 0;
    @apply rounded-md;
    @apply brightness-100
    }
  }
  