/* styles.css */

.inp {
    border: 1px solid rgb(123, 123, 123);
    transition: border-color 0.3s;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    width:90%;
    margin-top:1rem;
    padding: 2px 10px;

  }
  

  @media (min-width: 1024px) {
    /* Adjust the width for screens with a minimum width of 1024px (laptop screens) */
    .inp {
      width: 40%;
    }
  }

  .inp:focus {
    border-color: white;
  }
  
  .inp::placeholder {
    color: white;
  }


.almostFull{
  width: 80%;
  margin:auto
}

@media (min-width: 768px) {
  .almostFull {
      width:75%;
     
  }
}